@use 'sass:color';

@import '../../styles/vars';
@import '../../styles/mixins';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: $defaultFontFamily;
  font-size: $defaultFontSize;
  line-height: $defaultLineHeight;
  text-decoration: none;
  appearance: none;

  padding: 8px 15px;
  color: $white;
  border: none;
  font-weight: bold;
  border-radius: $borderRadiusLarge;
  cursor: pointer;
  user-select: none;
  position: relative;

  &.color-green {
    background-color: #e0efd8;
    color: #3a6132;

    &:hover {
      background-color: #b6e1ad;
    }

    &:active {
      background-color: #9ed692;
    }
  }

  &.color-red {
    background-color: $red;

    &:hover {
      background-color: color.scale($red, $lightness: -10%);
    }

    &:active {
      background-color: color.scale($red, $lightness: -30%);
    }
  }

  &.color-blue {
    background-color: $blueLight;
    color: $blue;

    &:hover {
      background-color: color.scale($blueLight, $lightness: -10%);
    }

    &:active {
      background-color: color.scale($blueLight, $lightness: -30%);
    }
  }

  &:disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }

  &.loading {
    @include loader($borderWidth: 3px, $size: 20px, $color: $white);

    .text {
      opacity: 0;
    }
  }
}

.buttons {
  margin-right: -5px;

  // каждоый кнопке добавлен сдвиг вправо
  & > * {
    margin-right: 5px;
  }
}
