DATABASE_URL=postgresql:://ideanick@localhost:5432/ideanick?schema=public
HOST_ENV=local
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
BREVO_API_KEY=!!!SECRET!!!
FROM_EMAIL_NAME=IdeaNick
FROM_EMAIL_ADDRESS=noreply@brevo.ideanick.lol
DEBUG=IdeaNick:*,-IdeaNick:prisma:*,-IdeaNick:trpc:query:success
# BACKEND_SENTRY_DSN=!!!SECRET!!!
# SENTRY_AUTH_TOKEN=!!!SECRET!!!
# SOURCE_VERSION=123