@import '../../styles/vars';
@import '../../styles/mixins';

.field {
  // данная запись равнозначна .field.disabled, т.е. это значит, что объект имеет одновременно класс и field, и disabled
  &.disabled {
    opacity: 0.5;
  }

  // данная запись же означает вложенность - т.е. где-то в элементе с классом field должен быть элемент с классом label, к которому применяются данные стили
  .label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: $deepBlue;
  }

  .input {
    display: block;
    padding: 7px 7px 7px 16px;
    border: 1px solid $gray;
    border-radius: $borderRadiusLarge;
    background-color: $white;
    outline: none;
    width: 100%;
    font-family: $defaultFontFamily;
    font-weight: 500;
    color: $deepBlue;
    margin-bottom: 8px;

    &:focus {
      border-color: $blue;
    }

    &.invalid,
    &.invalid:focus {
      border: 1px solid $red;
    }
  }

  .error {
    margin-top: 2px;
    color: $red;
  }
}
