@import '../../styles/vars';
@import '../../styles/mixins';

.alert {
  padding: 10px;
  border-radius: $borderRadiusSmall;

  &.red {
    background-color: #ffd1d1;
    color: #631717;
  }

  &.green {
    background-color: #e0efd8;
    color: #3a6132;
  }

  &.brown {
    background-color: #c9b5bd;
    color: #614f39;
  }
}
