@import '../../../styles/vars';
@import '../../../styles/mixins';

.filter {
  margin-bottom: 20px;
}

.ideas {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .idea {
    padding: 20px;
    margin-bottom: 20px;
    background-color: $creamyLight;
    border-radius: 10px;
    color: $deepBlue;

    &:hover {
      box-shadow: 1px 4px 4px rgb(0, 0, 0, 0.025);
    }

    & + .idea {
      margin-top: 20px;
    }

    .ideaLink {
      @include link;
    }
  }

  .more {
    margin-top: 15px;
  }
}

.likes {
  display: inline-block;
  background-color: $pinkLight;
  color: $pink;
  padding: 9px;
  border-radius: $borderRadiusLarge;
}
