@import '../../styles/mixins';

$breakpoint: '<=900px';

.authPage {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 500px;
    height: 400px;
  }

  @include media($breakpoint) {
    display: block;

    form {
      width: 100%;
      max-width: 500px;
      height: auto;
    }
  }
}
