@import '../../styles/mixins';
@import '../../styles/vars';

$breakpoint: '<=900px';

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  @include media($breakpoint) {
    flex-flow: column nowrap;
  }

  .navigation {
    height: 100%;
    overflow: auto;
    flex: 0 0 260px;
    padding: 20px 30px;
    background-color: $blue;
    @include media($breakpoint) {
      overflow: visible;
      flex: 0 0 auto;
      height: auto;
    }

    .logo {
      padding-top: 2px;
      width: 100%;
      max-width: 180px;
      height: auto;
      margin-bottom: 15px;
    }

    .menu {
      .item {
        border-radius: $borderRadiusMedium;

        .link {
          @include link;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          border-radius: $borderRadiusMedium;
        }

        .icon {
          color: currentcolor;
          width: 18px;
          height: 18px;
          flex: 0 0 18px;
          display: block;
        }

        &:hover {
          .link {
            background-color: $green;
            color: $deepBlue;
            transition: background-color 200ms ease;
          }
        }
      }
    }
  }

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    padding: 20px 30px;
    @include media($breakpoint) {
      overflow: visible;
      height: auto;
    }
  }
}
