@import '../../../styles/mixins';
@import '../../../styles/vars';

.wrapper {
  color: $deepBlue;
}

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  align-items: center;

  .avatar {
    flex: 0 0 100px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  .name {
    flex: 1 1 100%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: 10px;
  }
}

.gallery {
  margin: 10px 0;
}

.certificate {
  margin: 10px 0;

  .certificateLink {
    color: $gray;

    &:hover {
      text-decoration: underline;
    }
    // @include link;
  }
}

.documents {
  margin: 10px 0;

  .documentLink {
    color: $gray;

    &:hover {
      text-decoration: underline;
    }
    // @include link;
  }
}

.text {
  font-size: 14px;

  & > *:not(:first-child) {
    margin-top: 10px;
  }
}

.likes {
  margin-top: 20px;
  display: inline-flex;
  width: fit-content;
}

.likeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  width: fit-content;
  padding: 7px 10px;
  color: $deepBlue;
  background-color: $pinkLight;
  border: none;
  border-radius: $borderRadiusLarge;
  font-family: $defaultFontFamily;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
  transition:
    color 200ms ease,
    background-color 200ms ease;

  &:hover,
  &:active {
    color: $pink;
    transition: none;
  }
}

.likeIcon {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  display: block;
}

.buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}

.editButton {
  margin-top: 20px;
}

.blockIdea {
  margin-top: 20px;
}
